/*
=====================================
SEZIONE main (setup)
=====================================
*/

main{
    margin: 0.5em;
    display:flex;
    align-items: flex-start;
    gap: 2em;
}

main h1{
    color: var(--currentcolor);
}

#content{
    flex: 1.4;
}

main p{
    font-size: 1.25em;
    font-weight: 300;
}

/*
==================================
SEZIONE form
==================================
*/




input, button {
    padding: 1em;
}

/*
==================================
SEZIONE card
==================================
*/

.deg-card {
    background-color: var(--table-stripe);      
    border-left: 4px solid var(--currentcolor); 
    padding: 1.5em;
    margin-top: 2em;
}

.deg-card h3 {
    color: #FFF;
    margin-bottom: 0.8em;
    font-size: 1.25em;
}

.deg-card .deg-desc {
    margin-bottom: 0.5em;
    font-size: 1em;
    color: #fff;
}

.deg-card .deg-price {
    font-weight: 600;
    font-size: 14px;
    color: var(--currentcolor);  
}



/*
===========================================
SEZIONE mini
===========================================
*/

@media screen and (max-width: 940px){

    main{ flex-direction: column; align-items: center;}

}
