* {
    padding: 0em;
    margin: 0em;
}

:root{
    --bgcolor: #2b0303;
    --txtcolor: #000; 
    --visitedcolor: #c5a551;
    --newscolor: #F3C42B;
    --newstextcolor: #000;
    --navcolor: #fff;
}

html, body{
    font-size: 100%; 
    font-family: 'Atkinson Hyperlegible', 'Lexend', 'Roboto', sans-serif;    
    line-height: 1.5em; 
}

/*
=============================
SEZIONE navbar
=============================
*/

.main-nav-bar {
    background-color: var(--bgcolor);
    align-items: flex-start; 
    gap: 1em; 
    position: relative; 
}


.primary-navigation {
    display: none;
    background-color: var(--bgcolor);
    width: 100%;
    order: 999;
}

.primary-navigation ul {
    flex-direction: column; 
    gap: 0.5em; 
    padding: 1em 0;
}


.primary-navigation li:not(:first-child) {
    border-left: none; 
}

.primary-navigation a {
    display: block;
    padding: 0.5em 0.75em;
}

.menu-toggle {
    display: block; 
    background: none;
    padding: 8px;
    cursor: pointer;
    z-index: 1000;
    margin-left: auto;
    margin-top: 2.5em;
}

.hamburger-icon {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #fff;
    position: relative;
}
.hamburger-icon::before,
.hamburger-icon::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    left: 0;
}
.hamburger-icon::before {
    top: -6px;
}
.hamburger-icon::after {
    bottom: -6px;
}

.menu-toggle:focus {
    outline: 3px solid var(--visitedcolor);
}

.primary-navigation.is-open {
    display: block;
}

.primary-navigation li {
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
}
.primary-navigation li a {
    padding: 1em;
    display: block;
}

/*
=============================
SEZIONE main
=============================
*/