* {
    padding: 0em;
    margin: 0em;
}

:root{
    --navbgcolor: #2b0303;
    --txtcolor: #000; 
    --currentcolor: #c5a551;
    --newscolor: #F3C42B;
    --newstextcolor: #000;
    --navtxtcolor: #fff;
    --visitedcolor: #f47a1c;
    --footercolor: #390909;
    --bodybgcolor: #f3dcd1;
}

html, body{
    font-size: 100%; 
    font-family: 'Atkinson Hyperlegible', 'Lexend', 'Roboto', sans-serif;    
    line-height: 1.5em;
    background-color: var(--bodybgcolor); 
    height: 100%; 
}


body{
    color: var(--txtcolor);
    margin: auto;  
    min-height: 100vh;      
    display: flex;          
    flex-direction: column; 
}


/*
=============================
SEZIONE navbar
=============================
*/

.main-nav-bar {
    color: var(--navtxtcolor);
    padding: 0.5em;
    background-color: var(--navbgcolor); 
    display: flex; 
    align-items: center; 
    gap: 1em;    
    flex-wrap: wrap;
}

.primary-navigation{
    margin-left: auto; 
}

.primary-navigation ul {
    display: flex; 
    font-size: 1.2em;
    list-style: none;
    align-items: center; 
}

.primary-navigation li {
    padding: 0 0.8em; 
}

.main-nav-bar img{
    margin-left: 1em;
    height: 5.5em; 
    width: auto; 
    border-radius: 14px;
    display: block;
}

.primary-navigation a {
    color: var(--navtxtcolor); 
    font-weight: bold;
    padding: 0.5em;
    border-radius: 3px; 
}

.primary-navigation li:not(:first-child) {
    border-left: 2px solid rgba(255, 255, 255, 0.5);
}


.main-nav-bar a:hover, .main-nav-bar a:focus {
    color: var(--currentcolor); 
    outline: 2px solid var(--currentcolor);
}

.primary-navigation a[aria-current="page"] {
    color: var(--currentcolor); 
    border-bottom: 2px solid var(--currentcolor);
}

.menu-toggle {
    display: none; 
}

.visually-hidden{
    text-indent: -999em;
}

/*
=============================
SEZIONE BREADCRUMB
=============================
*/
#breadcrumb{
    font-size: 1.1em;
    font-size: 1.1em;
    padding: 0.5em 0em 0.5em 1.0em;
    display: flex;
    align-items: center; 
}

.br_icon{
    height: 3em;
}

/*
=============================
SEZIONE MAIN
=============================
*/
main{
    color: var(--txtcolor);
    padding-top: 1em;
    padding-left: 3.5em;
    padding-right: 2em;
    padding-bottom: 2em;
    flex-grow: 1; 
}

/*
=============================
SEZIONE MAIN
=============================
*/
footer{
    text-align: center;
    margin-top: 2em;
    background-color:var(--footercolor);
    color:var(--navtxtcolor);
    padding: 1em 0em;
}

footer a{
    color:var(--navtxtcolor);
}

footer a:visited{
    color:var(--visitedcolor);
}

/*
=============================
SEZIONE PULSANTE TORNA SU
=============================
*/
#backToTopBtn {
    position: fixed;
    bottom: 100px; 
    right: 30px; 
    
    
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 50px; 
    height: 35px;
    
    background-color: var(--currentcolor);
    color: var(--navbgcolor); 
    border: none;
    border-radius: 50%; 
    
    font-size: 1.5em;
    padding: 0; 
    
    cursor: pointer;
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 100;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

#backToTopBtn.show {
    opacity: 1;
    visibility: visible;
}

#backToTopBtn:hover, #backToTopBtn:focus {
    background-color: #a38642; 
    outline: 2px solid var(--navbgcolor);
}


