* {
    padding: 0em;
    margin: 0em;
}

:root{
    --navbgcolor: #2b0303;
    --txtcolor: #000; 
    --visitedcolor: #c5a551;
    --newscolor: #F3C42B;
    --newstextcolor: #000;
    --navtxtcolor: #fff;
}

html, body{
    font-size: 100%; 
    font-family: 'Atkinson Hyperlegible', 'Lexend', 'Roboto', sans-serif;    
    line-height: 1.5em; 
}


body{
    color: var(--txtcolor);
    margin: auto;  
}


/*
=============================
SEZIONE navbar
=============================
*/

.main-nav-bar {
    color: var(--navtxtcolor);
    padding: 0.5em;
    background-color: var(--txtcolor); 
    display: flex; 
    align-items: center; 
    gap: 1em;    
    flex-wrap: wrap;
}

.primary-navigation{
    margin-left: auto; 
}

.primary-navigation ul {
    display: flex; 
    gap: 2em; 
    font-size: 1.2em;
    list-style: none;
}

.main-nav-bar img{
    margin-left: 1em;
    height: 5.5em; 
    width: auto; 
    border-radius: 14px;
}

.primary-navigation a {
    color: var(--navtxtcolor); 
    font-weight: bold;
    padding: 0.5em;
    border-radius: 3px; 
}

.primary-navigation li:not(:first-child) {
    border-left: 2px solid rgba(255, 255, 255, 0.5);
}


.main-nav-bar a:hover, .main-nav-bar a:focus {
    color: var(--visitedcolor); 
    outline: 2px solid var(--visitedcolor);
}

.primary-navigation a[aria-current="page"] {
    color: var(--visitedcolor); 
    border-bottom: 2px solid var(--visitedcolor);
}

.menu-toggle {
    display: none; 
}

.visually-hidden{
    text-indent: -999em;
}


/*
=============================
SEZIONE MAIN
=============================
*/
main{
    background-color: var(--navtxtcolor);
    color: var(--txtcolor);
    padding-top: 2.0em;
    padding-left: 3.5em;
    padding-right: 2em;
    padding-bottom: 2em;
}







